@import 'src/css/quasar.variables.scss';
@import 'src/pages/app/_news_style/global.scss';
@import 'src/pages/app/_news_style/doc.scss';
.tab_keji_child_shendu {
  background: $white;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: scroll;
  left: 0;
  top: 0;
  padding: 0 16px;
  .back {
    text-align: left;
    height: 38px;
    line-height: 38px;
    display: flex;
    align-items: center;
    .arrow {
      font-size: 20px;
      color: $black;
    }
    span {
      font-weight: bold;
      margin-left: 10px;
    }
  }
  .list {
    li {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: solid 1px #eee;
      &:last-child {
        border-bottom: 0;
      }
      .doc {
        @include news-doc;
      }
    }
  }
}
