@import './mixins.scss';
.tab-slide-page-search {
  .tab-slide-page-search-wrapper {
    .search-result .result {
      .theme {
        width: 100%;
        border-bottom: solid 1px #eeeeee;
        margin-top: 10px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-radius: 6px;
        overflow: hidden;
        .top {
          position: relative;
          .info {
            color: $white;
            position: absolute;
            width: 100%;
            box-sizing: border-box;
            padding: 0 16px;
            bottom: 10px;
            z-index: 100;
            .icon {
              font-size: 26px;
            }
            .title {
              display: inline-block;
              font-size: 18px;
            }
          }
          .thumbnail {
            width: 100%;
            height: 168px;
          }
        }
        .b {
          text-align: center;
          margin-top: 10px;
          .icon {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
