@import 'src/pages/app/_news_style/index.scss';
.xinshidai-container {
  overflow: scroll;
  height: 100%;
  .xinshidai-list {
    min-height: 320px;
    .xinshidaiNewsList {
      padding: 0 16px;
      padding-top: 10px;
      background: $white;
      li {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: solid 1px #eee;
        &:last-child {
          border-bottom: 0;
        }
        .doc {
          @include news-doc;
        }
        .short {
          @include news-short;
        }
        .phvideo {
          @include news-phvideo;
        }
      }
    }
  }
}
