@import 'src/css/quasar.variables.scss';
.kangyi-container {
  overflow: scroll;
  height: 100%;
  .kangyi-list {
    min-height: 320px;
    .kangyiSwiperList-container {
      .kangyiSwiperList-slide {
        position: relative;
        .title {
          position: absolute;
          width: 100%;
          padding: 0 16px;
          left: 0;
          bottom: 24px;
          color: #ffffff;
          font-weight: bold;
          z-index: 100;
          font-size: 16px;
        }
        .dateDiff {
          position: absolute;
          width: 100%;
          padding: 0 16px;
          left: 0;
          bottom: 8px;
          color: #eee;
          z-index: 100;
          font-size: 12px;
        }
        .thumbnail {
          position: absolute;
          width: 100%;
          height: 100%;
          filter: brightness(80%);
        }
      }
    }
    .kangyiSecondnavList {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $white;
      padding: 10px 0;
      li {
        width: 25%;
        text-align: center;
        img {
          width: 32px;
          height: 32px;
          display: block;
          margin: 0 auto;
        }
        .title {
          font-size: 12px;
          padding-top: 10px;
        }
      }
    }
    .runtime-yiqing {
      position: relative;
      width: 100%;
      height: 78px;
      border-bottom: solid 1px #eee;
      .tab {
        position: absolute;
        height: 24px;
        top: 5px;
        left: 10px;
        box-sizing: border-box;
        display: flex;
        z-index: 100;
        li {
          width: 54px;
          height: 100%;
        }
      }
      img {
        width: 100%;
        height: 78px;
        position: absolute;
        left: 0;
        top: 0;
        background: $white;
      }
    }
    .kangyiNewsList {
      background: $white;
      padding: 0 16px;
      padding-top: 10px;
      li {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: solid 1px #eee;
        &:last-child{
          border-bottom: 0
        }
      }
    }
  }
  .load-more-loading {
    width: 100%;
    height: 50px;
    color: #969799;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
  }
}
