@import 'src/pages/app/_news_style/index.scss';
.news-topic-container {
  .tabs {
    display: flex;
    height: 38px;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 48px;
    padding-right: 16px;
    z-index: 100;
    width: 100%;
    background: rgba($color: $white, $alpha: 0);

    &.active-show {
      background: $white;
    }
    .tab-name {
      width: 240px;
      text-align: left;
      white-space: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
      &::-webkit-scrollbar {
        display: none;
      }
      li {
        display: inline-block;
        opacity: 0;
        height: 100%;
        padding: 0 10px;
        line-height: 38px;
        text-align: center;
        font-size: 14px;
        padding-bottom: 6px;
        &.active-show {
          opacity: 1;
        }
        &.active {
          color: $red;
          position: relative;
          font-weight: bold;
          &::after {
            content: '';
            height: 4px;
            background: $red;
            width: 10px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
    .back {
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 24px;
      color: $white;
      &.active-show {
        color: #7b7b7b;
      }
    }
    .follow {
      padding: 0 16px;
      color: $white;
      height: 28px;
      border-radius: 14px;
      line-height: 28px;
      box-sizing: border-box;
      margin: auto;
      text-align: center;
      background: $red;
    }
  }
  .news-topic-wrap {
    background: #f7f7f7;
    overflow: scroll;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 46px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    .banner {
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      top: 0;
      position: relative;
      background-position: center;
    }
    .header {
      padding: 20px 16px 0;
      background: $white;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      position: relative;
      top: -10px;
      .one {
        font-size: 22px;
        font-weight: bold;
      }
      .two {
        color: #8f8f8f;
        font-size: 12px;
        padding-top: 5px;
      }
      &::after {
        display: block;
        content: '';
        position: absolute;
        background-color: #fff;
        left: 0;
        right: 0;
        height: 10px;
        bottom: -10px;
        z-index: 11;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
    }
    .newsTopicSwiperList-container-wrap {
      background: $white;
      width: 100%;
      padding: 0 16px;
      .newsTopicSwiperList-container {
        width: 100%;
        height: 195px;
        .newsTopicSwiperList-slide {
          position: relative;
          .title {
            position: absolute;
            width: 100%;
            padding: 0 16px;
            left: 0;
            bottom: 24px;
            color: #ffffff;
            font-weight: bold;
            z-index: 100;
            font-size: 16px;
          }
          .info {
            position: absolute;
            width: 100%;
            padding: 0 16px;
            left: 0;
            bottom: 8px;
            color: #eee;
            z-index: 100;
            font-size: 12px;
            span {
              display: inline-block;
              margin-right: 5px;
            }
          }
          .thumbnail {
            position: absolute;
            width: 100%;
            height: 100%;
            filter: brightness(80%);
          }
        }
      }
    }
    .newsTopicSecondnavList {
      padding: 20px 16px 0;
      background: $white;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      li {
        width: 48%;
        background: #f2f6f9;
        border-radius: 4px;
        margin-bottom: 10px;
        margin-right: 2%;
        display: flex;
        height: 38px;
        padding: 0 10px;
        align-items: center;
        &:nth-of-type(2n + 2) {
          margin-right: 0;
        }
        img {
          width: 28px;
          height: 28px;
          display: inline-block;
          margin-right: 10px;
        }
        .title {
          font-size: 12px;
          font-weight: bold;
        }
      }
    }

    .tabs-item {
      background: $white;
      margin-bottom: 10px;
      padding: 10px 16px 0;
      .tabs-item-title {
        height: 32px;
        line-height: 32px;
        font-weight: bold;
        margin-bottom: 10px;
        position: relative;
        padding-left: 10px;
        &:before {
          position: absolute;
          width: 4px;
          height: 15px;
          background-color: $red;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          content: '';
        }
        .comment-sort {
          position: absolute;
          display: flex;
          align-items: center;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          .icon {
            font-size: 20px;
            color: #afafaf;
            margin-right: 5px;
          }
          .method {
            font-size: 12px;
            color: #afafaf;
          }
        }
      }
      .column {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: solid 1px #f7f7f7;
        .doc {
          @include news-doc;
        }
        .short {
          @include news-short;
        }
        .phvideo {
          @include news-phvideo;
        }
      }
      .comment {
        @include news-comments;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .page-fixed-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 46px;
    border-top: solid 1px #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: $white;
    .input {
      width: 80%;
      height: 32px;
      box-sizing: border-box;
      margin: 0 16px;
      margin-right: 0;
      background: #f7f7f7;
      border-radius: 16px;
      color: #909090;
      padding: 0 16px;
      line-height: 32px;
    }
    .comment {
      width: 10%;
      text-align: center;
      i {
        font-size: 22px;
      }
    }
    .share {
      width: 10%;
      text-align: center;
      i {
        font-size: 18px;
      }
    }
  }
  .comment-children-more-container {
    padding: 0 16px;
    position: relative;
    height: 100%;
    .header {
      height: 50px;
      line-height: 50px;
      border-bottom: solid 1px #eeee;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      padding: 0 16px;
    }
    .comments {
      overflow: scroll;
      position: absolute;
      top: 50px;
      bottom: 38px;
      left: 0;
      right: 0;
      padding: 0 16px;
      li {
        display: flex;
        border-bottom: solid 1px #eeeeee;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        @include comments-content;
        &::last-child {
          border-bottom: 0;
        }
      }
    }
    .footer {
      height: 38px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: #ffffff;
      border-top: solid 1px #eeee;
      .input {
        width: 90%;
        height: 32px;
        position: absolute;
        box-sizing: border-box;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 10px;
        border-radius: 16px;
        background: #f7f7f7;
        line-height: 32px;
        color: #949494;
      }
    }
  }
}
