.see-container {
  .recommend-container,
  .ifengSay-container {
    position: fixed;
    left: 0;
    top: 36px;
    right: 0;
    bottom: 60px;
    width: 100%;
    background: #f5f5f5;
    overflow: scroll;
    .load-more-loading {
      width: 100%;
      height: 50px;
      color: #969799;
      font-size: 14px;
      line-height: 50px;
      text-align: center;
    }
  }
  .recommend-container {
    .recommend-list {
      li {
        padding: 16px 16px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
        border-bottom: solid 1px #eeeeee;
        background: #ffffff;
        .top {
          display: flex;
          align-items: center;
          .left {
            .avatar {
              width: 48px;
              height: 48px;
              border-radius: 50%;
            }
          }
          .right {
            margin-left: 10px;
            .catename {
              font-size: 16px;
            }
            .description {
              font-size: 12px;
              color: #878787;
            }
          }
        }
        .middle {
          .content {
            font-size: 18px;
            padding-top: 15px;
            padding-bottom: 15px;
          }
          .imgs {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .img {
              width: 125px;
              height: 125px;
              border-radius: 6px;
              margin-bottom: 10px;
            }
            &::after {
              content: '';
              width: 125px;
            }
          }
          .full-img {
            width: 100%;
            height: 250px;
            position: relative;
            .img {
              width: 100%;
              height: 250px;
              border-radius: 6px;
            }
            .icon {
              font-size: 40px;
              color: #ffffff;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              z-index: 100;
            }
          }
        }
        .bottom {
          height: 48px;
          display: flex;
          margin-top: 10px;
          .left,
          .right {
            width: 50%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon {
              font-size: 22px;
            }
            .count {
              font-size: 14px;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
  .ifengSay-container {
    .ifengSay-banner {
      padding: 16px;
      margin-bottom: 10px;
      box-sizing: border-box;
      width: 100%;
      background: #ffffff;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      text-align: center;
      li {
        display: inline-block;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        .img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          margin-bottom: 5px;
        }
        .title {
          font-size: 12px;
          color: #878787;
        }
      }
    }
    .ifengSay-list {
      li {
        padding: 16px;
        box-sizing: border-box;
        width: 100%;
        background: #ffffff;
        margin-bottom: 10px;
        border-bottom: solid 1px #eeeeee;
        .top {
          display: flex;
          align-items: center;
          height: 38px;
          .left {
            img {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              margin-right: 10px;
            }
          }
          .middle {
            margin-left: 10px;
          }
          .right {
            margin-left: auto;
            display: flex;
            align-items: center;
            font-size: 12px;
            .icon {
              font-size: 16px;
              margin-left: 5px;
            }
          }
        }
        .bottom {
          display: flex;
          padding-top: 10px;
          .left {
            width: 70%;
            margin-right: 10px;
            .t {
              font-size: 18px;
            }
            .b {
              display: flex;
              align-items: center;
              font-size: 12px;
              color: #878787;
              padding-top: 10px;
              .catename {
                margin-right: 10px;
              }
            }
          }
          .right {
            .img {
              width: 220px;
              height: 120px;
              border-radius: 6px;
            }
          }
        }
      }
    }
  }
}
