@import 'src/pages/app/_news_style/index.scss';
.shederenwu-container {
  overflow: scroll;
  height: 100%;
  .shederenwu-list {
    min-height: 320px;
    .shederenwuSwiperList-container {
      .shederenwuSwiperList-slide {
        position: relative;
        .title {
          position: absolute;
          width: 100%;
          padding: 0 16px;
          left: 0;
          bottom: 24px;
          color: #ffffff;
          font-weight: bold;
          z-index: 100;
          font-size: 16px;
        }
        .dateDiff {
          position: absolute;
          width: 100%;
          padding: 0 16px;
          left: 0;
          bottom: 8px;
          color: #eee;
          z-index: 100;
          font-size: 12px;
        }
        .thumbnail {
          position: absolute;
          width: 100%;
          height: 100%;
          filter: brightness(80%);
        }
      }
    }
  }
  .shederenwuNewsList {
    padding: 0 16px;
    padding-top: 10px;
    background: $white;
    li {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: solid 1px #eee;
      &:last-child {
        border-bottom: 0;
      }
      .doc {
        @include news-doc;
      }
      .short {
        @include news-short;
      }
      .phvideo {
        @include news-phvideo;
      }
    }
  }
}
