@import 'src/css/quasar.variables.scss';
.caijing-pindao-search-container {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: $white;
    box-sizing: border-box;
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 48px;
    border-bottom: solid 1px #eee;
    .l {
      width: 10%;
      font-size: 22px;
    }
    .m {
      width: 90%;
    }
  }
  .caijing-pindao-search-content {
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
    background: $white;
    box-sizing: border-box;
    overflow: scroll;
    ul {
      padding: 0 16px;
      li {
        border-bottom: solid 1px #eeeeee;
        display: flex;
        padding: 10px 0;
        .l {
          width: 90%;
          display: flex;
          .code {
            margin-left: 10px;
          }
        }
        .add {
          width: 10%;
          color: #999999;
        }
      }
    }
  }
}
