.backreason {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    li {
      width: 45%;
      box-sizing: border-box;
      padding: 0 12px;
      text-align: center;
      font-size: 14px;
      height: 32px;
      line-height: 32px;
      border-radius: 16px;
      border: solid 1px #eeeeee;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 12px;
      &:nth-last-child(-n-2) {
        margin-bottom: 0;
      }
    }
  }
}
