@import 'src/css/quasar.variables.scss';
@import 'src/pages/app/_news_style/global.scss';
.tab_yinpin_child_categories {
  width: 100%;
  background: $white;
  .back {
    text-align: left;
    height: 38px;
    line-height: 38px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    .arrow {
      font-size: 20px;
      color: $black;
    }
    span {
      font-weight: bold;
      margin-left: 10px;
    }
  }
  .categories-container {
    border-top: solid 1px #eeeeee;
    width: 100%;
    .navs {
      position: fixed;
      width: 26%;
      left: 0;
      top: 40px;
      overflow: scroll;
      background: #f7f7f7;
      ul {
        display: flex;
        flex-direction: column;
        li {
          height: 48px;
          line-height: 48px;
          text-align: center;
          &.active {
            background: $white;
            color: $red;
          }
        }
      }
    }
    .albums {
      .tags {
        position: fixed;
        width: 74%;
        right: 0;
        top: 39px;
        height: 38px;
        padding: 0 5px;
        background: $white;
        z-index: 1000;
        ul {
          height: 38px;
          display: flex;
          align-items: center;
          background: $white;
          li {
            font-size: 12px;
            padding: 4px 10px;
            line-height: 1;
            box-sizing: border-box;
            border-radius: 16px;
            background: #f7f7f7;
            margin-left: 5px;
            &.active {
              color: $red;
            }
          }
        }
      }
      .list {
        position: fixed;
        width: 74%;
        right: 0;
        top: 80px;
        overflow: scroll;
        background: $white;
        padding: 0 10px;
        li {
          display: flex;
          margin-bottom: 8px;
          padding-bottom: 8px;
          border-bottom: solid 1px #eeeeee;
          &:last-child {
            border-bottom: none;
          }
          .l {
            width: 68px;
            height: 68px;
            border-radius: 6px;
            margin-right: 10px;
          }
          .r {
            display: flex;
            flex-direction: column;
            .t {
              font-weight: bold;
              font-size: 14px;
              padding-bottom: 5px;
            }
            .m {
              font-size: 12px;
            }
            .b {
              display: flex;
              margin-top: auto;
              font-size: 12px;
              color: $gray;
              padding-top: 5px;
              .play {
                margin-right: 15px;
              }
            }
          }
        }
      }
    }
  }
}
